{% extends 'tweets/base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <p> Col 1 out of 3</p>
            <h1>Left bar menu</h1>
            <div class="row">
                <p>Left item</p>
            </div>
            <div class="row">
                <p>Left item</p>
            </div>
            <div class="row">
                <p>Left item</p>
            </div>
            <div class="row">
                <p>Left item</p>
            </div>
            <div class="row">
                <p>Left item</p>
            </div>
        </div>

        <div class="col-sm">
            <p>Col 2 out of 3</p>
            <h1>Main col</h1>

            <div class="row">
                {% for tweet in tweet_list %}

                <h4>{{tweet.user_name}}</h4>
                <h6> {{tweet.text}}</h6>

                {% endfor %}
            </div>

        </div>

        <div class="col-sm">
            <p>Col 3 out of 3</p>
            <h1>Right col</h1>
        </div>
    </div>
</div>


{% endblock %}

</body>
</html>